{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% block extra %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css" rel="stylesheet"/>

{% endblock %}
{% block title_extension %} Project Panel {% endblock %}
{% block maincontent %}
    <div class="container vh-100">
        <div class="card vh-100">
            <div class="row m-4 align-items-center">
                <form class="form-inline mb-lg-5 " action="{% url 'dairy:index' %}" method="post">
                    {% csrf_token %}
                    <div class="input-group  mr-2">
                        {{ form.date }}

                    </div>
                    <div class="input-group  mr-2">
                        {{ form.prev_sales }}

                    </div>
                    <div class="input-group  mr-2">
                        {{ form.sales }}

                    </div>

                    <button type="submit" class="btn btn-success btn-lg">Search</button>
                </form>
            </div>
   <div class="row">
               <p class="col-6">Predicted Value {{ pred_value }}</p><br>
               <p class="col-6">Date {{ Date }}</p>

            </div>
        </div>
    </div>
    <script>
        $(function () {
            $("#datetimepicker1").datetimepicker({
                format: 'DD/MM/YYYY HH:mm',
            });
        });
        $(function () {
            $("#datetimepicker2").datetimepicker({
                format: 'DD/MM/YYYY HH:mm',
            });
        });
    </script>
{% endblock %}
{% block footer %}{% endblock %}